
<div class="navbar-nav w-100">
    {% for general_category in general_categories  %}
    <div class="nav-item dropdown dropright">
        <span class="nav-link dropdown-toggle" data-toggle="dropdown">{{general_category.title}}<i class="fa fa-angle-right float-right mt-1"></i></span>
        <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
            {% for category in general_category.sub_categories.all  %}
            <a href="{% url 'shop:shop' %}?category={{category.pk}}" class="dropdown-item">{{category.title}}</a>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    {% for category in pure_categories %}
    <a href="{% url 'shop:shop' %}?category={{category.pk}}" class="nav-item nav-link">{{category.title}}</a>
    {% endfor %}
    </div>