{% extends 'layout.html' %}
{% load static %}
{% block main %}


    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Shop</a>
                    <span class="breadcrumb-item active">Shopping Cart</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Cart Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead class="thead-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        {% for basket in basketlist %}
                        <tr>
                            <td class="align-middle"><img src="{{basket.product.images.first.image.url}}" alt="" style="width: 50px;"> {{basket.product.title}}</td>
                            <td class="align-middle">AZN{{basket.product.price}}</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <a href="{% url 'customer:decrease-basket-item' basket_pk=basket.pk %}" type="button" class="btn btn-sm btn-primary btn-minus"  >
                                        <i class="fa fa-minus"></i>
                                        </a>
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" value="{{basket.count}}">
                                    <div class="input-group-btn">
                                        <a href="{% url 'customer:increase-basket-item' basket_pk=basket.pk %}" type="button" class="btn btn-sm btn-primary btn-plus" >
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">AZN{{basket.total_price}}</td>
                            <td class="align-middle"><a href="{% url 'customer:remove-basket' basket_pk=basket.pk %}" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <form class="mb-30" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control border-0 p-4" name="coupon" {% if coupon_code  %}value="{{coupon_code}}"{% endif %}  placeholder="Coupon Code">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Apply Coupon</button>
                        </div>
                    </div>

                    {% if coupon_status == 'valid' %}
                        <p class="text-success font-weight-bold">{{coupon_message}}</p>
                    {% elif coupon_status == 'invalid' %}
                        <p class="text-danger font-weight-bold">{{coupon_message}}</p>
                    {% endif %}
                </form>
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Cart Summary</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom pb-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h6>Subtotal</h6>
                            <h6>AZN{{all_price}}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">AZN{{shipping_price}}</h6>
                        </div>
                        {% if coupon_status == 'valid' %}
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-medium">Discount</h6>
                                <h6 class="font-weight-medium">- %{{coupon_discount}}</h6>
                            </div>
                        {% endif %}
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total</h5>
                            <h5>AZN{{final_price}}</h5>
                        </div>
                        {% if final_price %}
                            <a href="{% url 'payment:checkout' %}{% if coupon_status == 'valid' %}?coupon={{coupon_code}}{% endif %}" class="btn btn-block btn-primary font-weight-bold my-3 py-3">Proceed To Checkout</a>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endblock main %}
    <!-- Cart End -->


    <!-- Footer Start -->
    