{% extends 'layout.html' %}
{% load static %}
{% comment %} {% load django_bootstrap5 %} {% endcomment %}
{% block main %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-5 bg-primary p-4 rounded shadow">
        <div class="col-12">
            <div class="row">
                <div class="col h3 text-center">
                    LOGIN
                </div>

            </div>


        </div>
        <div class="col-12">
            {% if unsuccess %}
            <div class="text-danger text-center">Username ve ya sifre yanlisdir !</div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input id="username"type="text" class="form-control" name="username">

                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password"type="text" class="form-control" name="password">

                </div>
                <div class="form-group form-check">
                    <input type="checkbox" name="remember_me" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Remember me</label>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn btn-dark">Gonder</button>
                   </div>  
            </form>
        </div>
        </div>
    </div>
</div>

{% endblock main %}
