{% extends 'layout.html' %}
{% load static %}
{% comment %} {% load django_bootstrap5 %} {% endcomment %}
{% block main %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-5 bg-primary p-4 rounded shadow">
        <div class="col-12">
            <div class="row">
                <div class="col h3 text-center">
                    Reset Password
                </div>

            </div>


        </div>
        <div class="col-12">
            {% if unsuccess %}
            <div class="text-danger text-center">Username ve ya sifre yanlisdir !</div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="control-group">
                    
                    <input id="username" type="text"  required="required" class="form-control mb-3" name="username" placeholder="Username">

                </div>
                <div class="control-group">
                    
                    <input id="password"  required="required" type="text" class="form-control mb-3" name="password" placeholder="Password">

                </div>
                <div class="control-group mb-4">
                    
                    <input id="password" required="required" type="text" class="form-control mb-3" name="password_again" placeholder="Password again">

                </div>
              
                <div class="d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn btn-dark">Gonder</button>
                   </div>  
            </form>
        </div>
        </div>
    </div>
</div>

{% endblock main %}
