{% extends 'layout.html' %}
{% load static %}
{% comment %} {% load django_bootstrap5 %} {% endcomment %}
{% block main %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-5 bg-primary p-4 rounded shadow">
        <div class="col-12">
            <div class="row">
                <div class="col h3 text-center">
                    Reset Password
                </div>

            </div>


        </div>
        <div class="col-12">
            {% if form.non_field_errors %}
            <div class="text-danger text-center">{{form.non_field_errors}}</div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="control-group mb-4">
                    {{field}}
                    {% for error in field.error %}
                        <p class="text-danger help-block">{{error}}</p>
                    {% endfor %}
                </div>
                {% endfor %}
              
                <div class="d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn btn-dark">Gonder</button>
                   </div>  
            </form>
        </div>
        </div>
    </div>
</div>

{% endblock main %}
