{% extends 'layout.html' %}
{% load static %}
{% load shop_helper %}
{% block main %}


    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Shop</a>
                    <span class="breadcrumb-item active">Shopping Cart</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Cart Start -->
    <div class="container-fluid">
        <div class="row px-xl-12">
            <div class="col-lg-12 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead class="thead-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        {% for wishitem in wishlist %}
                        <tr>
                            <td class="align-middle"><img src="{{wishitem.product.images.first.image.url}}" alt="" style="width: 50px;"> <a href="{{wishitem.product.get_absolute_url}}">{{wishitem.product.title}}</a> </td>
                            <td class="align-middle">AZN{{wishitem.product.price}}</td>
                            <td>
                                {% stars wishitem.product.get_avg_star %} 
                            </td>
                           
                            <td class="align-middle"><a href="{% url 'customer:unwish_product' pk=wishitem.product.pk %}" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a></td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
            {% comment %} <div class="col-lg-4">
                <form class="mb-30" action="">
                   
                </form>
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Cart Summary</span></h5>
                <div class="bg-light p-30 mb-5">
                   
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total</h5>
                            <h5>AZN{{total_price}}</h5>
                        </div>
                        <button class="btn btn-block btn-primary font-weight-bold my-3 py-3">Proceed To Checkout</button>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
    {% endblock main %}
    <!-- Cart End -->


    <!-- Footer Start -->
   